.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  /* Font properties removed to allow utility classes */
  /* font-size: clamp(1.6rem, 4vw, 3rem); */
  /* line-height: 1.5; */
  /* font-weight: 600; */
}

.word {
  display: inline-block;
}
